* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
    vertical-align: middle;
}
.container {
    width: 500px;
    margin: 0 auto;
    /* padding-left: 10px;
    padding-right: 10px; */
}
.head {
    width: 500px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    /* margin-left: -5px;
    margin-right: -5px; */
}
.row > * {
    /* padding-left: 5px;
    padding-right: 5px; */
    
}
.col-1 {
    width: 8.333333%;
}
.col-2 {
    width: 16.666667%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.333333%;
}
.col-5 {
    width: 41.666667%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.333333%;
}
.col-8 {
    width: 66.666667%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.333333%;
}
.col-11 {
    width: 91.666667%;
}
.col-12 {
    width: 100%;
}
.d-flex {
    display: flex;
}
.b-solid {
   border: 0.1px solid;
}
.b-bot {
    border-top: 0.1px solid;
    border-left: 0.1px solid;
    border-right: 0.1px solid;
}
.mr-top {
    margin-top: 50px;
}
.pt-20 {
    padding-top: 20px;
}
.size-name {
    width: 200px;
    height: 30px;
}
.pt-10 {
    padding-top: 10px;
}
.size {
    height: 30px;
    width: 450px;
}
.day {
    width: 143.3333px;
    height: 30px;
}
.month {
    width: 143.333px;
    height: 30px;
}
.year {
    width: 143.3333px;
    height: 30px;
}
.gap-10 {
    gap: 10px;
}

.female {
    width: 123px;
    
}
.a-center {
    align-items: center;
}
.j-space {
    justify-content: space-around;
}
.male {
    width: 123px;
    
}
.setting {
    width: 183px;
}
.h-30 {
    height: 30px;
}
.pt-5 {
    padding-top: 5px;
}
.text-foot {
    text-decoration: none;
}
.pb-3 {
    padding-bottom: 3px;
}
.button {
    width: 150px;
    
}
.subcriber {
    width: 500px;
}
.section {
    padding-left: 20px;
    
}
.pl-10 {
    padding-left: 10px;
}
.pr-10 {
    padding-right: 10px;
}
.text-footer {
    width: 460px;
    box-sizing: border-box;
    justify-content: center;
}
.text-end {
    width: 460px;
    box-sizing: border-box;
    justify-content: center;
    
}
.subcriber {
    width: 460px;
  text-align: center;
  padding-bottom: 20px;
    
}
.button {
   
    height: 30px;
    font-size: 16px;
    color: white;
    background-color: #00a400;
    border: none;
    border-radius: 10%;
}
