.heading-menu {
    list-style-type: none;
    text-transform: uppercase;
    left: 0;
    right: 0;
    height: auto;
    top: 0;

}
.heading-layout {
    background-color: rgb(219, 97, 97);
   justify-content: center;
   display: flex;

}
ul.heading-menu {
    display: flex;
}
ul.heading-menu a {
    padding: 15px 0px;
    text-decoration: none;
}
ul.heading-menu li {
    padding: 0px 20px;
    font-weight: bold;
    color: #333;
}

.text-center {
    text-align: center;
    color: rgb(226, 73, 73);
    text-shadow: 3px 3px 5px brown;
   
}
.text-transform {
    text-align: center;
    

}

.home-hover:hover {
    background-color: tomato;
    color: aliceblue;

}
.information-hover:hover {
    background-color: brown;
    color: coral;
}
.content-hover:hover {
    background-color: pink;
    color: violet;
}
.contact-hover:hover {
    background-color: aqua;
    color: orange;
}
.member-list {
    margin-top: 30px;
    display: inline-block;
   
}
.member-name {
    font-size: 15px;
}
.member-information {
    float: left;
    text-align: center;
   
    width: 432px;
}
.member-img {
    height: 392px;
    border-radius: 4px;
    width: 392px;
 
}
.member-img:hover {
    background-color: #f44336;
    border: 1px solid #777;
    opacity: 0.7;
}
.introduce {
    background-color: rgb(87, 87, 211);
    text-align: center;
}
.content {
    text-align: center;
    
}
.text-content {
    text-align: justify;
}
.pagagraph-text {
    background-color: lightblue;
    text-align: center;
}
.paragraph-img {
    height: 400px;
}
.paragraph-left {
    text-align: left;
    color: brown;
    font-family: 'Times New Roman', Times, serif;
    font-size: 27px;
}
.paragraph-transform {
    text-transform: none;
    text-decoration: underline;
    vertical-align: middle;
}
